.contact__container {
  display: flex;
  justify-content: space-around;

  ul {
    text-align: center;

    li {
      margin-top: 10px;
    }
  }

  img {
    width: 90px;
  }
}


/* PC (Resolution 1024px)*/
@media all and (min-width:1024px) {
  .contact__container {
    margin: 50px 400px;
  }
}

/* Tablets Horizontal Tablets Vertical (Resolution 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  .contact__container {
    margin: 50px 100px;
  }
}


/* Mobile horizontal, mobile vertical (Resolution 480px ~ 767px)*/
@media all and (max-width:767px) {
  .contact__container {
    margin-top: 20px;
    flex-direction: column;

    ul {
      padding-left: 0;
    }
  }
}