$theme-color: rgb(242, 238, 252);

.footer__container {
  background-color: $theme-color;
  display: flex;
  margin-top: 10%;
  padding: 1% 15%;

  .footer__inner {
    width: 300px;
    margin-top: 35px;

    img {
      width: 60px;
    }

    h2 {
      margin-top: 0;
    }
  }
}

.email {
  cursor: pointer;
  transition: .2s;

  &:hover {
    color: rgb(247, 22, 22);
  }
}

.sns {
  display: flex;

  span {
    display: block;
  }

  &:hover {
    color: rgb(247, 22, 22);
  }
}

/* PC (Resolution 1024px)*/
@media all and (min-width:1024px) {
  .footer__container {
    justify-content: space-around;


  }
}

/* Tablets Horizontal Tablets Vertical (Resolution 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {

  .footer__container {
    padding: 20px;

    .footer__inner:first-child {
      display: none;
    }
  }
}


/* Mobile horizontal, mobile vertical (Resolution 480px ~ 767px)*/
@media all and (max-width:767px) {

  .footer__container {
    flex-direction: column;
    height: 100%;
    padding-bottom: 30px;
  }

}