$theme-color: rgb(242, 238, 252);

.card {
  background-color: $theme-color;
  width: 300px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 2px 3px 3px rgb(193, 192, 192);
  margin-bottom: 10px;
  text-align: center;
  margin-right: 20px;

  h3 {
    padding-top: 3rem;
  }

  &:last-child {
    margin-right: 0px;
  }

}

/* PC (Resolution 1024px)*/
@media all and (min-width:1024px) {}

/* Tablets Horizontal Tablets Vertical (Resolution 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {}


/* Mobile horizontal, mobile vertical (Resolution 480px ~ 767px)*/
@media all and (max-width:767px) {
  .card {
    margin: auto;

    &:last-child {
      margin-right: auto;
    }

    h3 {
      padding-top: 4rem;
    }
  }
}