.profile__container {}



/* PC (Resolution 1024px)*/
@media all and (min-width:1024px) {
  .profile {
    width: 8rem;
    margin: 3rem;
  }
}

/* Tablets Horizontal Tablets Vertical (Resolution 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  .profile {
    width: 8rem;
    margin: 3rem;
  }
}


/* Mobile horizontal, mobile vertical (Resolution 480px ~ 767px)*/
@media all and (max-width:767px) {
  .profile__container {
    text-align: center;
    margin-top: 30px;
  }

  .profile {
    width: 8rem;
  }


}